{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md" id="makeItRain">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          size="md"
          unelevated
          color="primary"
          type="a"
          target="_blank"
          href="/where39/shared/"
          >Open Where39</q-btn
        >
      </q-card-section>
      <q-card-section>
        <div class="text-body1">
          <strong>Any3Words</strong> is good, but it's not private. <strong>Where39</strong> is a BIP39 location protocol that you can run yourself.
          <br /><br />
          Where39 is useful for dead drops, burying treasure, or just sharing your location with friends. 
          <br /><br />
          By running your own Where39 server, you can be sure that your location data is not shared with anyone.
          <br /><br />
          <div class="row">
            <div class="col-8">
              <b>1st word</b><br />
              First, we break the Earth into 2048 tiles using the BIP39 wordlist. This is achieved by dividing the Earth's latitude (180 degrees) and longitude (360 degrees) into a grid of 64x32 tiles, each covering 5.625 x 5.625 degrees.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/firstword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>2nd word</b><br />
              Each tile from the 1st level is further divided into 2025 smaller tiles (45x45), resulting in tiles that are 0.125 x 0.125 degrees each.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/secondword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>3rd word</b><br />
              These tiles are then split again into 2025 smaller tiles (45x45), creating tiles that are 0.00277777777 x 0.00277777777 degrees.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/thirdword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>4th word</b><br />
              The next division produces another set of 2025 smaller tiles (45x45), with each tile measuring 0.00006172839 x 0.00006172839 degrees.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/forthword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>5th word</b><br />
              The 5th word, often called the "treasure word," is usually optional. However, if needed, the final division splits each tile into 400 smaller tiles (20x20), with each one being 0.00000308642 x 0.00000308642 degrees.
            <br/><br/>Learn more about where39<a href="https://github.com/arcbtc/where39">https://github.com/arcbtc/where39</a>
            </div>
            <div class="col-4">
              <img src="/where39/static/image/fifthword.png" />
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Where39 Extension
        </h6>
      </q-card-section>
      <q-card-section>
        Python Library
        <a
          target="_blank"
          href="https://github.com/dekoza/pywhere39"
          style="color: inherit"
          >https://github.com/dekoza/pywhere39</a
        >
        <br />
        Nodejs library
        <a
          target="_blank"
          href="https://www.npmjs.com/package/where39"
          style="color: inherit"
          >https://www.npmjs.com/package/where39</a
        >
        <br />
        Phone app
        <a
          target="_blank"
          href="https://github.com/fusion44/where39_app/"
          style="color: inherit"
          >https://github.com/fusion44/where39_app/</a
        >
        <br />
        Rust implementation
        <a
          target="_blank"
          href="https://github.com/sgeisler/rust-where39"
          style="color: inherit"
          >https://github.com/sgeisler/rust-where39</a
        >
        <br /><br />
        Visit the Where39
        <a
          style="color: inherit"
          target="_blank"
          href="https://github.com/arcbtc/where39"
          >repo</a
        >
        to learn more.
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  window.app = Vue.createApp({
    el: "#vue",
    mixins: [windowMixin],
    data() {
      return {};
    },
  });
</script>
{% endblock %}
