<!--/////////////////////////////////////////////////-->
<!--//PAGE FOR THE EXTENSIONS BACKEND IN LNBITS//////-->
<!--/////////////////////////////////////////////////-->

{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md" id="makeItRain">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn size="md" unelevated color="primary" type="a" target="_blank" href="/where39/shared/">Open
          Where39</q-btn>
      </q-card-section>
      <q-card-section>
        <div class="text-body1">
          Any3Words is good, but its not private. Where39 is a BIP39 location protocol that you can run yourself.
          <br>
          Where39 is useful for dead drops, burying treasure or just sharing your location with friends.
          <br>
          By running your own Where39 server you can be sure that your location data is not being shared with anyone.
          <br><br>
          <div class="row">
            <div class="col-8">
              <b>1st word</b><br>
              First we break the earth into tiles 64/32, 2048 tiles (the amount of words in the BIP32 wordlist). We
              allocate
              each tile a word, this is achieved by using the earths latitude (180 degrees) and logitude (360 degrees).
              Each
              tile is 5.625/5.625 degrees.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/firstword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>2nd word</b><br>
              This square is split into 2025 smaller tiles 45/45, which works out 0.125/0.125 degrees per tile.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/secondword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>3rd word</b><br>
              This square is split into 2025 smaller tiles 45/45, which works out 0.00277777777/0.00277777777 degrees
              per
              tile.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/thirdword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>4th word</b><br>
              This square is split into 2025 smaller tiles 45/45, which works out 0.00006172839/0.00006172839 degrees
              per
              tile.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/forthword.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <b>5th word</b><br>
              The 5th word is the tresure word, and usually not necessary. We can split this square into 400 smaller
              tiles
              20/20, which works out 0.00000308642/0.00000308642 degrees per tile.
            </div>
            <div class="col-4">
              <img src="/where39/static/image/fifthword.png" />
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Where39 Extension
        </h6>
      </q-card-section>
      <q-card-section>
        Python Library <a target="_blank" href="https://github.com/dekoza/pywhere39"
          style="color: inherit">https://github.com/dekoza/pywhere39</a>
        <br>
        Nodejs library <a target="_blank" href="https://www.npmjs.com/package/where39"
          style="color: inherit">https://www.npmjs.com/package/where39</a>
        <br>
        Phone app <a target="_blank" href="https://github.com/fusion44/where39_app/"
          style="color: inherit">https://github.com/fusion44/where39_app/</a>
        <br>
        Rust implementation <a target="_blank" href="https://github.com/sgeisler/rust-where39"
          style="color: inherit">https://github.com/sgeisler/rust-where39</a>
        <br><br>
        Visit the Where39 <a style="color: inherit" target="_blank" href="https://github.com/arcbtc/where39">repo</a> to
        learn more.
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
      }
    },
  })
</script>
{% endblock %}